.homepage #myVideo {
    position: fixed;
    z-index: -1;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar-blue {
    background: #041833;
    height: 10em;

}

.nav-link {
    color: white !important;
    font-size: 2em;
}

.nav-item {
    padding-right: 3em;
}

.auth-home {
    min-height:100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size:cover;
}

.navbar-brand {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.card-title {
    font-color: #1B98A6;
}

/* <!-- Event Journal Page -->  */
.event-container{
    min-height:100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url('/static/img/light.jpg');
    background-size:cover;
    position: absolute;
    padding-left: 40px;
    justify-content: space-evenly;
}

.card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    border-radius: 25px;
}

.card {
    width: 85%;
    padding-left: 10rem:
    padding-top: 5rem;
    padding-bottom: .75rem;
    align-items: left;
    margin: auto;
    border-collapse: separate;
    boarder: 10rem;
    border-spacing: 0 30rem;
    border-radius: 25px;
    opacity: .85;
}

.card-body {
    font-size: 23px;
}

.row {
    padding: 5%;
}

.col-sm-4 {
    padding: 3rem;
}

