.homepage video {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.login-dark {
    min-height:100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url('/static/img/TSJ.png');
    background-size:cover;
    /* position:relative; */
}


.auth-home {
    min-height:100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size:cover;
    /* position:relative; */
}

/* <!-- Event Journal Page -->  */
.event-container{
    min-height:100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url('/static/img/light.jpg');
    background-size:cover;
    position: absolute;
    padding-left: 40px;
    justify-content: space-evenly;
}

.card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    border-radius: 25px;
}

.card {
    width: 85%;
    padding-left: 10px:
    padding-top: 5px;
    padding-bottom: 20px;
    align-items: left;
    margin: auto;
    border-collapse: separate;
    boarder: 10px;
    border-spacing: 0 30px;
    border-radius: 25px;
    opacity: .85;
}

.card-body {
    font-size: 23px;
}

.row {
    padding: 5%;
}

.col-sm-4 {
    padding: 15px;
}
