{% extends 'base.html' %}
{% block body %}
<!-- 
    {% for memory in user.memories_list %}
        <li>{{ memory }} </li>
    {% endfor %} -->

    <nav class="navbar navbar-expand-md navbar-blue">
        <div class="container-fluid"> 
            <a class="navbar-brand" href="#""><img src="/static/img/logosmall.png" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <!-- <li class="nav-item"><a class="nav-link active" aria-current="page" href="/profile">Profile</a></li> -->
                <li class="nav-item"><a class="nav-link active" href="/home">Home</a></li>
                <li class="nav-item"><a class="nav-link active" href="/events/create">New Event</a></li>
                <li class="nav-item"><a class="nav-link active" href="/map">Event Map</a></li>
              </ul>
              </div>
            </div>
          </div>
        </div>  
        </div>
      </nav>

<div class="event-container">
    <div class="row">
        {% for event_id in memories %}

        <div class="col-sm-4">
            <!-- Card -->
            <div class="card">
                <!-- Card image -->
                <img class="card-img-top img-fluid" src="{{ memories[event_id][0].pic.loc }}" alt="Card image cap">
                <!-- Card content -->
                <div class="card-body">
  
                    <!-- Title -->
                    <h1 class="card-title"><a>{{events[event_id].date}} {{ events[event_id].event_name }} </a></h1>   
        
                    <!-- Text -->
                    <p class="card-text">
                        <b>Headliners:</b> {{ events[event_id].headliner }}
                        <br>
                        <b>Venue:</b> {{ events[event_id].venue.name }}
                        <br>
                        <b>Favorite Song:</b> {{ memories[event_id][0].fav_song }} 
                        <br>
                        <b>Party Squad:</b> {{ memories[event_id][0].squad }}
                        <br>
                        <b>Memory:</b> {{ memories[event_id][0].memory }}
                        
                        <br>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
<!-- Card -->

<!-- 
    <ul>
        {% for event_id in memories %}
            <li> {{events[event_id].date}} 
                <br> 
                Event Name: {{ events[event_id].event_name }} 
                <br>
                Headliner: {{ events[event_id].headliner }}
                <br>
                Venue: {{ events[event_id].venue.name }}
                {% for memory in memories[event_id] %}
                    <br>
                    Favorite Song: {{ memory.fav_song }} 
                    <br>
                    Memory: {{ memory.memory }}
                    <br>
                    Party Squad: {{ memory.squad }}
                    <br>
                    <img src= "{{ memory.pic.loc }}">
                {% endfor %}
                </ul>
            </li>

        {% endfor %}
    </ul> -->
<p>
    <!-- {% for event in events %}
    {{user.memories[0].event.event_name}}
    {{user.memories[0].pic.loc}}
    {{user.memories[0].event.venue.name}}
    {{user.memories[0].fav_song}}
    {{user.memories[0].memory}}
    {{user.memories[0].squad}}
    {% endfor%} -->
</p>
{% endblock %}