{% extends 'base.html' %}
{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Map</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
rel="stylesheet"
integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"> -->
<link rel="stylesheet" type="text/css" href="static/css/style.css">
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-md navbar-blue">
  <div class="container-fluid"> 
      <a class="navbar-brand" href="/home""><img src="/static/img/logosmall.png" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <!-- <li class="nav-item"><a class="nav-link active" aria-current="page" href="/profile">Profile</a></li> -->
          <li class="nav-item"><a class="nav-link active" href="/home">Home</a></li>
          <li class="nav-item"><a class="nav-link active" href="/events/create">New Event</a></li>
          <li class="nav-item"><a class="nav-link active" href="/events">Event Journal</a></li>
        </ul>
        </div>
      </div>
    </div>
  </div>  
  </div>

  </nav>



  <script
    defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCu-Ly-18p0peGx74ep4mBP1ExdN2kcZ9Y&callback=initMap">
  </script>

<div id="map">
</div>

<style>
  #map {
    height: 100%;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
</style>

<script src="/static/js/maps.js">
</script>

{% endblock %}


