{% extends 'base.html' %}
{% block body %}
<div class="sign in">
<form>
    <h1>Journal Entry</h1>
    <h2>Jot it down</h2>
    <form action="/X" method="POST">
      <p>
        Event Name <input type="text" name="event_name">
      </p>
    
      <p>
        Date <input type="datetime-local" name="date">
      </p>
    
      <p>
        Venue <input type="text" name="venue">
      </p>
    
      <p>
        Favorite Songs <input type="text" name="fav_song">
      </p>
      <p>
        Memories <input type="text" name="memory">
      </p>

      <p>
        Party Squad <input type="text" name="squad">
      </p>


      <p>
        <input type="submit">
      </p>
    </form>

</form>    
</div>
{% endblock %}